@charset "utf-8";
div form lable {
    display: block;
	margin-top: 10px;
    margin-bottom: 5px;
}
div form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
div form button {
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
}
div from buttom:hover{
	background-color: #0056b3;
}
div form a {
    margin-top: 10px;
	justify-content: space-between;
	display: flex;
	text-decoration: none;
}
.container div img {
    border-radius: 30px;
    opacity: 0.5;
}
